<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="4.1.0" targetFramework="net48" />
  <package id="ENet.Managed" version="3.0.2" targetFramework="net48" />
  <package id="Fody" version="6.1.1" targetFramework="net48" developmentDependency="true" />
  <package id="MsgPack.Cli" version="1.0.1" targetFramework="net48" />
  <package id="NLog" version="4.7.5" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Data.HashFunction.Core" version="2.0.0" targetFramework="net48" />
  <package id="System.Data.HashFunction.Interfaces" version="2.0.0" targetFramework="net48" />
  <package id="System.Data.HashFunction.xxHash" version="2.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net48" />
</packages>